<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/product/productDetail.js" defer></script>
</head>
<body>
<h3>상품상세</h3>
<hr />
<ul>
	<li>
	<label for="">상품id</label>
	<input type="text" name="" id="" th:value="${productDTO.pid}" readonly/>
	</li>
	<li>
	<label for="">상품명</label>
	<input type="text" name="" id="" th:value="${productDTO.pname}" readonly/>
	</li>
	<li>
	<label for="">개수</label>
	<input type="text" name="" id="" th:value="${productDTO.pcount}" readonly/>
	</li>
	<li>
	<label for="">가격</label>
	<input type="text" name="" id="" th:value="${productDTO.pprice}" readonly/>
	</li>
	<li>
	<button type="button" id="modifyBtn"
				onclick="javascript:location.href='/product/modifyProductForm'">수정</button>
	<button type="button" id="delBtn">삭제</button>
	<button type="button"
				onclick="javascript:location.href='/product/productList'">목록</button>
	</li>
</ul>
</body>
</html>





